<!DOCTYPE html>
<html>

<body>
<h1>Send Message Below</h1>
<form method="POST">

    <p1>Topic  </p1>
    <input name="source" cols="80"></input>
    <br>

    <!--<input type="text"-->
    <!--cols="40"-->
    <!--rows="5"-->
    <!--style="width:200px; height:50px;"-->
    <!--name="source"-->
    <!--id="source"-->
    <!--value="" />-->

    <!--<input name="source" >-->
    <p1>Message</p1>
    <input name="destination"  cols="80">
    <p1></p1>
    <input type="submit">
</form>



</body>
</html>