<!DOCTYPE html>
<html>

<body>
<h1>Enter Source and Destination Below</h1>
<form method="POST">

    <p1>Source</p1>
    <TEXTAREA name="source" rows="20" cols="80"></TEXTAREA>
    <br>

    <!--<input type="text"-->
    <!--cols="40"-->
    <!--rows="5"-->
    <!--style="width:200px; height:50px;"-->
    <!--name="source"-->
    <!--id="source"-->
    <!--value="" />-->

    <!--<input name="source" >-->
    <p1>Destination</p1>
    <input name="destination">
    <p1></p1>
    <input type="submit">
</form>

<br>
<br>
<br>
<pre id="output"></pre>
<script>
    var output = document.getElementById('output');

    var xhr = new XMLHttpRequest();
    xhr.open('GET', "{{ url_for('stream') }}");
    xhr.send();

    setInterval(function() {
        output.textContent = xhr.responseText;
    }, 1000);
</script>

<br>
<br>


</body>
</html>