<!DOCTYPE html>
<html>

<body>

<!--<script>-->
    <!--function loadDoc() {-->
        <!--var source = document.getElementById('source').value;-->
        <!--console.log(source)-->
        <!--// $.ajax({-->
        <!--//-->
        <!--// })-->
    <!--}-->

<!--</script>-->


<h1>List of messages </h1>
<!--<form method="POST">-->

    <!--<p1>Topic</p1>-->
    <!--<input name="source">-->
    <!--<br>-->

    <!--&lt;!&ndash;<input type="text"&ndash;&gt;-->
    <!--&lt;!&ndash;cols="40"&ndash;&gt;-->
    <!--&lt;!&ndash;rows="5"&ndash;&gt;-->
    <!--&lt;!&ndash;style="width:200px; height:50px;"&ndash;&gt;-->
    <!--&lt;!&ndash;name="source"&ndash;&gt;-->
    <!--&lt;!&ndash;id="source"&ndash;&gt;-->
    <!--&lt;!&ndash;value="" />&ndash;&gt;-->

    <!--&lt;!&ndash;<input name="source" >&ndash;&gt;-->
    <!--&lt;!&ndash;<p1>Destination</p1>&ndash;&gt;-->
    <!--&lt;!&ndash;<input name="destination">&ndash;&gt;-->
    <!--<p1></p1>-->
    <!--<input type="submit">-->
    <!--&lt;!&ndash;<input type="button" value="submit" onclick=" loadDoc()">&ndash;&gt;-->
<!--</form>-->




<pre id="output"></pre>
<script>
    var output = document.getElementById('output');

    var xhr = new XMLHttpRequest();
    xhr.open('GET', "{{ url_for('stream') }}");
    xhr.send();

    setInterval(function() {
        output.textContent = xhr.responseText;
    }, 1000);
</script>

<br>
<br>



</body>
</html>